.ingredient_Ñontainer {
    max-width: 50%;
    height: 600px;
    margin-top: 40px;
    padding: 5px;
}

.ingredients_section {
    overflow-y: auto;
    max-width: 600px;
    height: 700px;
}

.ingredients_body{
    display: flex;
    margin: 10px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.ingredients_header {
    height: 30px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    margin-top: 20px;
}

.ingredients_item {
    position: relative;
    width: 45%;
    text-align: center;
    align-items: center;
    margin: 9px;
    font-family: 'JetBrains Mono';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    cursor: pointer;
}

.ingredients_item > span{
    text-align: center;
    margin: 9px;
}

.ingredients_items {
    display: flex;
}

::-webkit-scrollbar { width: 10px; height: 0px;}
/* ::-webkit-scrollbar-button {  background-color: #8585AD; } */
::-webkit-scrollbar-track {  background-color: #2F2F37;}
::-webkit-scrollbar-track-piece { height: 650px; background-color: #2F2F37;}
::-webkit-scrollbar-thumb { height: 0px; background-color: #8585AD; border-radius: 5px;}
/* ::-webkit-scrollbar-corner { background-color: #8585AD;} */
::-webkit-resizer { background-color: #8585AD;}