
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

App {
  max-width: 1920px;
  background: #131316;
  max-height: 700px;
  overflow: hidden;
}

main {
  margin: auto;
  max-width: 1260px;
  display: flex;
  justify-content: space-around;
}

.main_container{
  width: 1260px;
} 
h1 {
  font-size: 36px;
  margin: 40px 0 20px 0;
}
